<p id="notice"><%= notice %></p>

<p>
  <b><%= Display.human_attribute_name :active %>:</b>
  <%= t("value_#{@display.active}") %>
</p>

<p>
  <b><%= Display.human_attribute_name :channels %>:</b>
  <%= !@display.channels.any? ? t(".channel_not_selected") : @display.channels.collect(&:name).join(', ') %>
</p>

<p>
  <b><%= Display.human_attribute_name :hostname %>:</b>
  <%= @display.hostname %>
</p>

<p>
  <b><%= Display.human_attribute_name :last_seen_at %>:</b>
  <%= @display.last_seen_at || t(".not_available") %>
</p>


<%= link_to t('links.edit'), edit_display_path(@school.puavo_id, @display) %> |
<%= link_to t('links.back'), displays_path %>
