<!DOCTYPE html>
<html<% if @cache %> manifest="<%= @manifest_url.html_safe %>"<% end %>>
<head>
  <meta charset="utf-8" />
  <title>Iivari</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "client" %>
  <%= javascript_include_tag "client" %>
  <%= javascript_tag do %>
    Iivari.session = new Iivari.Models.Session(<%= @session_json.html_safe -%>);
  <% end %>
</head>
<body>

  <%# superslides - rendered by transparency %>
  <div id="slideshow">
    <ul class="slides-container">
      <li>
        <div class="slide"></div>
      </li>
    </ul>
  </div>

  <%= yield %>

  <div class="footer_container <%= @theme -%>">
    <div id="thetime"></div>
    &nbsp;
    <div id="network-offline" style="display: none;">
      <%= t('.offline') %>
    </div>
  </div>

</body>
</html>
