<!DOCTYPE html>
<% if @cache == "true" %>
<html manifest="<%= manifest_screen_path( :resolution => ( params.has_key?(:resolution) ?
                                                           params[:resolution].to_s :
                                                           "") ) %>">
<% else %>
<html>
<% end %>
<head>
  <meta charset="utf-8" />
  <title>Iivari</title>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= javascript_tag do %>
	<%= yield(:slideshow) %>
  <% end %>
  <%= javascript_include_tag "client" %>

</body>
</html>
